.loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 126px);
    .loader {
        animation: rotate 2s infinite;
        height: 50px;
        width: 50px;
        &::before,
        &::after {
            border-radius: 50%;
            content: '';
            display: block;
            height: 20px;
            width: 20px;
        }
        &::before {
            animation: ball1 2s infinite;
            background-color: #ffd700;
            box-shadow: 30px 0 0 #ffd700;
            margin-bottom: 10px;
        }
        &::after {
            animation: ball2 2s infinite;
            background-color: #ffd700;
            box-shadow: 30px 0 0 #ffd700;
        }
    }
}

.cmp-loading {
    display: flex;
    justify-content: center;

    &__spinner {
        animation-name: spinner;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 3s;
        background: transparent;
        width: 50%;
        height: 50%;
    }

    &__track {
        stroke: #b4d6fa;
        stroke-width: 3px;
        fill: none;
    }

    &__tail {
        stroke: #0f6cbd;
        stroke-width: 3px;
        fill: none;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
        stroke-linecap: round;
        animation-timing-function: cubic-bezier(0.33, 0, 0.67, 1);
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
        animation-name: spinnerTail;
    }
}
