@import './_variables';
@import './loader';
@import './_mixins';
@import './_preloading';
@import './_main';
@import './_topbar';
@import './_menu';
@import './_config';
@import './_content';
@import './_footer';
@import './_responsive';
@import './_utils';
@import './_typography';
@import './keyframes';

.line-clamp-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
